h1{
    border: 1px solid black;
    background-color: black;
    color: white;
    border-bottom-width: 80px;
    }
nav{
float: left;
width: 130px;
height: 500px;
color: black;
background-color:lightgray;
}
footer{
    background-color: black;
    color: white;
}
section{
    width: 400px;
    margin-left: 150px;
}